In [66]:
import pandas as pd #pandas library
import json
import requests
from bs4 import BeautifulSoup

In [118]:
file=pd.read_csv("destinations_LP_crawler_Ex5.csv",encoding='ISO-8859-1')
key = "AIzaSyDepEVukHhmwzo4Jy0YkLDTVjxM93Y_HRE"

In [119]:
LP_destinations = pd.DataFrame(file["city"])
country =  []
description = []

In [120]:
for i in range(len(file)):
    try:
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (file.loc[i,'city'], key)
        response = requests.get(url)
        if not response.status_code==200:
                print("HTTP error",response.status_code)
        else:
            response_json = response.json()
            country_of = response_json['results'][0]['formatted_address'].split(",")[-1].rstrip().lstrip()
            try:
                check_if_number = int(country_of.split()[0]) #ch
                country_of = response_json['results'][0]['formatted_address'].split(",")[1].strip()
                country.append(country_of)
            except:
                country.append(country_of)
    except: #Repair "Krak¿"
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (file.loc[i,'city_LP'], key)
        response = requests.get(url)
        if not response.status_code==200:
            print("HTTP error",response.status_code)
        else:
            response_json = response.json()
            country_of = response_json['results'][0]['formatted_address'].split(",")[-1].rstrip().lstrip()
            country.append(country_of)

In [121]:
country[56] = 'Ukraine'#Repair "Odesa"
LP_destinations["Country"] = country

In [122]:
LP_destinations

         city      Country
0     Antalya       Turkey
1      Athens       Greece
2   Ayia-napa       Cyprus
3     Bangkok     Thailand
4   Barcelona        Spain
..        ...          ...
71     Venice        Italy
72     Vienna      Austria
73     Warsaw       Poland
74  Zakynthos       Greece
75     Zurich  Switzerland

[76 rows x 2 columns]

In [123]:
file["country"] = country
try:
    for i in range(len(file)):
        url = "https://www.lonelyplanet.com/%s/%s"% (file.loc[i,'country'],file.loc[i,'city_LP'])
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        Main_tag = soup.find("section", { "id" : "introduction" })
        Text_tag = Main_tag.find('p').text
        description.append(Text_tag)
    LP_destinations["Description"] = description
except:
        print("Something wrong")

In [124]:
LP_destinations

         city      Country                                        Description
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw       Poland  A phoenix arisen from the ashes, Poland's capi...
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]

In [125]:
LP_destinations.to_csv('LP_destinations.csv', index=False)